body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1b1b1b;
    color: white;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #161616;
    padding: 20px;
    position: fixed;
}

.logo {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.tab {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    background: #202020;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.tab:hover {
    background: #2b2b2b;
}

.selected {
    background: #3d3d3d !important;
}

.main {
    margin-left: 230px;
    padding: 30px;
}

.title {
    font-size: 27px;
    margin-bottom: 20px;
}

.version-box {
    background: #222;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

.version-box select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: #333;
    color: white;
    border: none;
}

.play-btn {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #3aa63a;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.play-btn:hover {
    background: #45b745;
}

.news-box {
    margin-top: 40px;
    background: #202020;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
}

.settings-btn {
    position: fixed;
    left: 15px;
    bottom: 15px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
